.titulosGeneros{
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    color:  #5f84f2;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
/* 2 section */
.seccionGeneros {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 50px;
}
/* etiquetas a */
.linkGenero{
    text-decoration: none;
    color:  rgb(7, 17, 161); 
}
/* artículos */
.categorias{
    width: 210px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: blanchedalmond;
    text-align: center;
    padding: 5px;
    box-shadow: 3px 3px 10px 2px rgb(103 102 202);
    transition: 0.5s; /* cuando se le hace hover la transicion dura 0,5 segundos */
    font-size:  30px;
    font-family: 'Permanent Marker', cursive;
}

.categorias:hover {
    transform: translateY(-10px); /* cuando el cursor pasa por encima, la card se va para arriba 10px */
    background-color: black;
    color: blanchedalmond;
}


/* Media queries */

@media screen and (max-width: 800px) {
    .seccionGeneros {
        flex-direction: column;
        margin: 0px 20px 0px 20px;
    } 
    

   .categorias{
        margin: 10vw;
        width: 70vw
    } 

    .titulosGeneros{
        margin-bottom: 0px;
    }
      
}