* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 95%;
    margin: auto;
}



.header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

    /* Logo */

.logotipo {
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    color: rgb(7, 17, 161);
    font-size: 40px;
    text-decoration: none;
}

    /* Nav */

header nav a {
    color: #aaa;
    text-decoration: none;
    margin-right: 30px;
}

header nav a:hover {
    color: #fff;
}

    /* Buscador */

.buscador input{
    width: 40em;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    border: 2px solid #fff;
}

.buscador input:hover {
    border:2px solid #c50f0f;
}

.buscador button {
    background-color: #fff;
    color: #141414;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 90px;
}

.buscador button:hover {
    border:2px solid #c50f0f;
}

  /* Main */

.banner{
    min-height: 400px;
    background-image: url(../img/backdrop.jpg);
    background-position: center center;
    margin-bottom: 30px;
}

/* Peliculas recomendadas */

.peliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.peliculas article{
    width: 210px;
    margin-bottom: 30px;
    background-color: blanchedalmond;
    text-align: center;
    padding: 5px;
}

.card img{
    width: 200px;
    height: 300px;
}

.card h2 {
    font-size: 20px;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(7, 17, 161);
}

.titleSection {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #5f84f2;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: #5b5959;
    padding: 20px 10px 20px 10px;
    margin-top: 30px;
}

.footer h2 {
    align-self: center;
    color: black;
}

.conocenos a {
    color: #d4d1d1;
    text-decoration: none;
    margin-right: 30px;
}

.conocenos a:hover {
    color: #fff;
}

.conocenos {
    text-align: center;
    align-self: center;
}

.conocenos h2 {
    margin: 10px;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.mapa {
    width: auto;
    height: auto;
}
